<h1 class="page-header">Dashboard</h1>
<div class="alert alert-danger" ng-if="warning">
  <strong>Warning!</strong> System is down or unresponsive!
</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<h2 class="sub-header">Place Trade</h2>
<p>Number available: {{numberAvailable}}</p>
<div class="form-group">
  <label for="price">Amount to Sell (USD)</label>
  <input type="text" id="price" class="form-control" placeholder="Price" ng-model="price">
</div>
<button type="button" class="btn btn-primary" ng-click="addTrade()">Add Trade</button>