<h1 class="page-header">Previous Orders</h1>
<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Current Orders ({{orders.length}})
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Amount</th>
              <th>Order Type</th>
              <th>Percent Filled</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-click="changeCurrentTrade(order)" ng-repeat="order in orders">
                <td>{{order.local.orderId}}</td>
                <td>{{order.local.amount}}</td>
                <td>{{order.local.orderType}}</td>
                <td>{{order.local.fulfilled/order.local.amount}}</td>
                <td ng-class="order.local.status === 'Unfulfilled' ? 'info' : order.local.status === 'Fulfilled' ? 'success' : 'danger'">{{order.local.status}}</td>
              </tr>
          </tbody>
        </table>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Order #{{currentOrder.local.orderId}} Details
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <table class="table table-striped" ng-if="currentOrder!==undefined">
          <thead>
            <th>Amount</th>
            <th>Price</th>
            <th>Fulfill By</th>
            <th>Fulfilled At</th>
            <th>Order Type</th>
            <th>Percent Filled</th>
            <th>Status</th>
          </thead>
          <tbody>
            <tr ng-repeat="trade in currentOrder.trades">
              <td>{{trade.local.amount}}</td>
              <td>{{trade.local.price == -1 ? "Unfulfilled" : trade.local.price}}</td>
              <td>{{trade.local.fulfillBy.getDate()  + "-" + (trade.local.fulfillBy.getMonth()+1) + "-" + trade.local.fulfillBy.getFullYear() + " " + trade.local.fulfillBy.getHours() + ":" + trade.local.fulfillBy.getMinutes()}}</td>
              <td>{{trade.local.fulfilledAt}}</td>
              <td>{{trade.local.orderType}}</td>
              <td>{{trade.local.amount/currentOrder.local.amount}}</td>
              <td ng-class="trade.local.status === 'Unfulfilled' ? 'info' : trade.local.status === 'Fulfilled' ? 'success' : 'danger'">{{trade.local.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>